body {
    width: 100%;
    overflow: overlay;
    overflow-x: hidden;
    background-image: url('../images/y-so-serious.png');
    background-size: 500px 500px;
}

html  {
    overflow: overlay;
}

header {
    background-image: url("../images/water1.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: grayscale(40%);
}

#nav-wrapper {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

#nav-wrapper.sticky{

    justify-content: center;
    background: rgba(240, 255, 255, 0.918);
    border-bottom: darkgray 2px solid;
}

#nav-wrapper.sticky > nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;;
}

#nav-wrapper.sticky > nav a{
    font-size: 1.4rem;
    color: black!important;
    font-weight: bold;
}

#nav-wrapper.sticky > nav a:hover {
    border-bottom: 2px solid black;
}

#tech-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
}

#tech-container > div div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

#tech-container > div h5 {
    margin: 20px 0px;
}

#tech-container > div div img{
    max-height: 100%;
    max-width: 100%;
}

.circle-image {
    clip-path: circle(50% at 50% 50%);
}

a {
    cursor: pointer;
}

nav {
    justify-self: flex-end;
}

nav a {
    font-family: monospace;
    font-size: 1.2rem;
    color: floralwhite!important;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 0 0.5rem;

    transition: border-bottom 1s;
}

nav a:hover {
    color: floralwhite;
    text-decoration: none;
    border-bottom: 2px solid floralwhite;
}

h1 {
    font-family: monospace;
    font-size: 4rem;
    font-weight: bold;
    color: floralwhite;
}

.h1-black {
    font-family: monospace;
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

h2 {
    color: floralwhite;
    font-size: 1.2rem;
    font-family: monospace;
}

h3 {
    color: floralwhite;
    font-size: 2.4rem;
    font-family: monospace;
}

h4 {
    color: floralwhite;
    font-size: 2rem;
    font-family: monospace;
}

h5 {
    color: floralwhite;
    font-size: 1.5rem;
    font-family: monospace;
}

#title {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#java-text {

    font-weight: bold;
    text-decoration: underline;
    
}

.dark-filter {
    background: rgba(0, 0, 0, 0.4);
}

#freelancer-image {
    align-self: center;
    max-width: 500px;
}

#clip-wrapper {
    transition: clip-path 1s ease-in-out;
}

.project-image {
    align-self: center;
    justify-self: center;
    max-width: 300px;
}

.image-shadow-left {
    box-shadow: -30px 30px 1px #ccc;
}

.image-shadow-right {
    box-shadow: 30px 30px 1px #ccc;
}

.mono-p {
    color: floralwhite;
    font-family: monospace;
    font-size: 1.2rem;
    font-style: italic;
}

#projects-wrapper section:nth-of-type(odd) {

    background: url('../images/webb-dark.png'), rgb(0, 63, 92) ;
    background-blend-mode:luminosity;
    background-size: 500px 500px;
}

#aboutme {
    background: rgb(1, 3, 18);
}

#contact {
    background: url('../images/prism.png')
}

.bg-white {
    background-color: white;
}

.bg-cornflower {
    background-color: cornflowerblue;
}

.bg-creamy {
    background:rgba(255,255,240,1);
}

ol li {
    color: floralwhite;
    list-style-type: circle;
    font-size: 1rem;
    font-weight: bold;
}

ol li a {
    text-decoration: none;
    color: floralwhite;
    border-bottom: none;

    transition: font-size border-bottom;
    transition-duration: 500ms;
}

ol li a:hover {
    font-size: 1.2rem;
    color: floralwhite;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.project-name {
    margin: 30px 0;
}

.content-border {

    border: rgba(255, 255, 255, 0.7) 1px solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.flex-even {
    flex: 1;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

.contact-label-primary {

    font-size: 1rem;
    font-weight: bold;
    color: peru;
}

.contact-label-secondary {
    font-size: 0.8rem;
    font-weight: 500;
    color: floralwhite;
}

.contact-icon {
    width: 30px;

    transition: filter;
    transition-duration: 200ms;
}

a:hover > .contact-icon {
    filter: invert(1);
}

.font-weight-bold {
    font-weight: bold;
}

label {
    color: floralwhite;
}

@media (max-width: 576px) {

    

}

@media (max-width: 768px) {
    
    

    #freelancer-name {
        font-size: 2.5rem;
    }

}

@media (max-width: 992px) {

    

    #about-me-container, .project-container {
        flex-direction: column;
    }

    #freelancer-image {
        max-width: 80%;
        margin-bottom: 30px;
    }

    .project-image {

        max-width: 40%;
        margin: 15px 0;
    }

    .btn {
        font-size: 1.5rem;
    }

    #fb-btn {
        font-size: 1rem;
    }

}

@media (max-width: 1200px) and (min-width: 993px){

    #freelancer-image {
        max-width: 300px;
    }
}

@media (max-width: 1400px) {

}